.site-layout-background {
  background: #fff;
  padding: 24;
  min-Height: 380;
}

.poster {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rating-stat {
  text-align: center;
}

.description {
  margin-top: 15px;
  margin-bottom: 15px;
}

.imdb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.details {
  margin-top: 7px;
}