.top-bar {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ant-drawer-content-wrapper {
    width: 80%;
    max-width: 612px;
}

/* .search-bar {
    float: left;
}
.sorting-bar {
    float: right;
} */